.qr {
    width: auto;
    height: auto;
    border: 1px solid black;
    margin: 200px auto;
    /* position: relative; */
}
.qrtext {
    width: auto;
    height: auto;
    /* border: 1px solid black; */
    margin: 200px auto;
    /* position: relative; */
}


